<!--<mt-input-text></mt-input-text>
<mt-input-color></mt-input-color>
<mt-input-date></mt-input-date>
<mt-input-email></mt-input-email>
<mt-input-number></mt-input-number>
<mt-input-password></mt-input-password>
<mt-input-search></mt-input-search>
<mt-input-tel></mt-input-tel>
<mt-input-time></mt-input-time>
<mt-input-url></mt-input-url>
<mt-input-textarea></mt-input-textarea>
<mt-button
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
  [label]="label"
>
</mt-button>
<mt-button-raised
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
  [label]="label"
></mt-button-raised>
<mt-button-stroked
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
  [label]="label"
></mt-button-stroked>
<mt-button-flat
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
  [label]="label"
></mt-button-flat>
<mt-button-icon
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
></mt-button-icon>
<mt-button-fab
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
></mt-button-fab>
<mt-button-minifab
  [disabled]="disabled"
  [command]="command"
  [color]="btnColor"
></mt-button-minifab>
<mt-button-toggle
  [toggleBtns]="toggleBtns"
  [multiple]="selectionType"
  [appearance]="appearanceType"
></mt-button-toggle>
<mt-card
  [title]="title"
  [subTitle]="subTitle"
  [hasButtons]="hasButtons"
  [hasImage]="hasImage"
  [hasFooter]="hasFooter"
  [hasPrgBar]="hasPrgBar"
  [content]="content"
  [cardAction]="cardAction"
></mt-card>
<mt-checkbox
  [disabled]="disabled"
  [labelPosition]="labelPosition"
  [color]="color"
  [label]="label"
  [checked]="checked"
></mt-checkbox>
<mt-chips
  [disabled]="disabled"
  [label]="label"
  [placeHolderInput]="placeHolderInput"
  [chipContent]="chipContent"
  [chipValue]="chipValue"
></mt-chips>
<mt-expansion-panel
  [panels]="panels"
>
</mt-expansion-panel>
<mt-list
  [disabled]="disabled"
  [isSection]="isSection"
  [itemList]="lst"
  [itemSection]="secs"
  [checkboxSelection]="checkboxSelection"
  [showCheckboxStatus]="showCheckboxStatus"
  [isSelectionMultiple]="isSelectionMultiple"
></mt-list>
<mt-paginator
  [disabled]="disabled"
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
></mt-paginator>
<mt-progress
  [color]="color"
  [mode]="mode"
  [value]="value"
  [bufferValue]="bufferValue"
></mt-progress>
<mt-spinner
  [color]="color"
  [mode]="mode"
  [value]="value"
  [diameter]="diameter"
  [strokeWidth]="strokeWidth"
></mt-spinner>-->
<mt-radio
  [disabled]="disabled"
  [radioItems]="radioItems"
></mt-radio>
